In [1]:
from importlib import reload
import fds_tools
reload(fds_tools)
import common_tools
reload(common_tools)
import db_tools
reload(db_tools)
import duckdb
reload(duckdb)
import json
import numpy as np
import pandas as pd
from db_tools.mySQL_tools import Connection, ConnectionConfigType, MySQLConfig
from fds_tools.fake_users_generator import FakeUsersGenerator, Constants
from fds_tools.data_cleaner import FFF
from common_tools import CommonTools, PandasTools, DuckDBTools
import duckdb
from collections import Counter
from cda_tools.location_cleaner import LocationCleaner

In [2]:
df_anime_azathoth_cleaned = DuckDBTools.load_path('data/anime_azathoth42/anime_cleaned.csv')
df_user_azathoth_cleaned = DuckDBTools.load_path('data/anime_azathoth42/users_cleaned.csv')
df_user_anime_azathoth_cleaned = DuckDBTools.load_path('data/anime_azathoth42/animelists_cleaned.csv')

df_anime_hernen_cleaned = DuckDBTools.load_path('data/anime_hernan4444/anime.csv')
df_anime_hernen_cleaned_syn = DuckDBTools.load_path('data/anime_hernan4444/anime_with_synopsis.csv')

In [3]:
duckdb.query("""select * from users_cleaned where username == 'gigguk'""")

┌──────────┬─────────┬───────────────┬────────────────┬─────────────┬──────────────┬──────────────────┬──────────────────────────┬─────────┬───────────────────┬─────────────────────┬─────────────┬─────────────────────┬─────────────────────┬──────────────────┬─────────────────┬────────────────┐
│ username │ user_id │ user_watching │ user_completed │ user_onhold │ user_dropped │ user_plantowatch │ user_days_spent_watching │ gender  │     location      │     birth_date      │ access_rank │      join_date      │     last_online     │ stats_mean_score │ stats_rewatched │ stats_episodes │
│ varchar  │  int64  │     int64     │     int64      │    int64    │    int64     │      int64       │          double          │ varchar │      varchar      │      timestamp      │   varchar   │      timestamp      │      timestamp      │      double      │     double      │     int64      │
├──────────┼─────────┼───────────────┼────────────────┼─────────────┼──────────────┼──────────────────┼──────────────────────────┼─────────┼───────────────────┼─────────────────────┼─────────────┼─────────────────────┼─────────────────────┼──────────────────┼─────────────────┼────────────────┤
│ gigguk   │   21324 │            11 │            202 │          23 │           14 │               35 │       116.51284722222222 │ Male    │ Brighton, England │ 1990-05-31 00:00:00 │ NULL        │ 2007-11-11 00:00:00 │ 2017-08-22 07:48:00 │             7.15 │             2.0 │           6890 │
└──────────┴─────────┴───────────────┴────────────────┴─────────────┴──────────────┴──────────────────┴──────────────────────────┴─────────┴───────────────────┴─────────────────────┴─────────────┴─────────────────────┴─────────────────────┴──────────────────┴─────────────────┴────────────────┘

In [ ]:
cleaner = LocationCleaner()
df = pd.read_csv("data/anime_azathoth42/users_cleaned.csv")
df["country"] = df["location"].apply(cleaner.clean)
df = cleaner.map_as_unknown(df, column="country", min_count=25)
df.to_csv("data/data_cda/users_cleaned.csv")

In [ ]:
duckdb.query(f"""
             CREATE OR REPLACE
             VIEW anime_nodes AS
             SELECT anime_id, title_english, score, members
             FROM read_csv_auto('data/anime_azathoth42/anime_cleaned.csv')
             WHERE members > 100_000 and score > 8
             """)
print(f"CUT: {duckdb.query("""select count(*) from anime_nodes""").fetchone()[0]}\tanime titles")

duckdb.query(f"""
             CREATE OR REPLACE
             VIEW user_nodes AS
             SELECT username, gender, country
             FROM read_csv_auto('data/data_cda/users_cleaned.csv')
             WHERE user_completed > 400
             """)

print(f"CUT: {duckdb.query("""select count(*) from user_nodes""").fetchone()[0]}\tusers")

duckdb.query(f"""CREATE OR REPLACE VIEW votes_cleaned AS
             SELECT v.*
             FROM read_csv_auto('data/anime_azathoth42/anime_cleaned.csv')
             join user_nodes u
             on v.username = u.username""")

# duckdb.query("""
#     SELECT
#         a1.anime_id AS source,
#         a2.anime_id AS target,
#         COUNT(*) AS weight
#     FROM animelists_random a1
#     JOIN animelists_random a2
#         ON a1.username = a2.username
#        AND a1.anime_id < a2.anime_id
#     GROUP BY source, target
#     HAVING weight > 0
#              """)

CUT: 313	anime titles
CUT: 13509	users

┌────────────────┬─────────┬───────────────┬────────────────┬─────────────┬──────────────┬──────────────────┬──────────────────────────┬─────────┬────────────────────────┬─────────────────────┬─────────────┬─────────────────────┬─────────────────────┬──────────────────┬─────────────────┬────────────────┐
│    username    │ user_id │ user_watching │ user_completed │ user_onhold │ user_dropped │ user_plantowatch │ user_days_spent_watching │ gender  │        location        │     birth_date      │ access_rank │      join_date      │     last_online     │ stats_mean_score │ stats_rewatched │ stats_episodes │
│    varchar     │  int64  │     int64     │     int64      │    int64    │    int64     │      int64       │          double          │ varchar │        varchar         │      timestamp      │   varchar   │      timestamp      │      timestamp      │      double      │     double      │     int64      │
├────────────────┼─────────┼───────────────┼────────────────┼─────────────┼──────────────┼──────────────────┼──────────────────────────┼─────────┼────────────────────────┼─────────────────────┼─────────────┼─────────────────────┼─────────────────────┼──────────────────┼─────────────────┼────────────────┤
│ karthiga       │ 2255153 │             3 │             49 │           1 │            0 │                0 │        55.09166666666667 │ Female  │ Chennai, India         │ 1990-04-29 00:00:00 │ NULL        │ 2013-03-03 00:00:00 │ 2014-02-04 01:32:00 │             7.43 │             0.0 │           3391 │
│ Damonashu      │   37326 │            45 │            195 │          27 │           25 │               59 │        82.57430555555555 │ Male    │ Detroit,Michigan       │ 1991-08-01 00:00:00 │ NULL        │ 2008-02-13 00:00:00 │ 2017-07-10 06:52:54 │             6.15 │             6.0 │           4903 │
│ bskai          │  228342 │            25 │            414 │           2 │            5 │               11 │       159.48333333333332 │ Male    │ Nayarit, Mexico        │ 1990-12-14 00:00:00 │ NULL        │ 2009-08-31 00:00:00 │ 2014-05-12 16:35:00 │             8.27 │             1.0 │           9701 │
│ terune_uzumaki │  327311 │             5 │              5 │           0 │            0 │                0 │       11.394444444444444 │ Female  │ Malaysia, Kuantan      │ 1998-08-24 00:00:00 │ NULL        │ 2010-05-10 00:00:00 │ 2012-10-18 19:06:00 │              9.7 │             6.0 │            697 │
│ Bas_G          │ 5015094 │            35 │            114 │           6 │           20 │              175 │       30.458333333333332 │ Male    │ Nijmegen, Nederland    │ 1999-10-24 00:00:00 │ NULL        │ 2015-11-26 00:00:00 │ 2018-05-10 20:53:37 │             7.86 │             0.0 │           1847 │
│ HimeAria       │ 3129315 │             2 │             87 │           2 │            0 │               28 │       19.963194444444444 │ Female  │ Poland                 │ 1996-09-26 00:00:00 │ NULL        │ 2013-09-08 00:00:00 │ 2018-01-14 13:05:42 │             8.23 │             0.0 │           1314 │
│ Skallington    │  326733 │             0 │              3 │           0 │            0 │                0 │       1.2347222222222223 │ Male    │ Norberg Sweden         │ 1991-03-15 00:00:00 │ NULL        │ 2010-05-09 00:00:00 │ 2010-05-12 06:29:00 │             10.0 │             7.0 │             73 │
│ Slimak         │   61677 │            79 │            224 │           0 │            3 │               84 │       124.73194444444445 │ Male    │ Poland                 │ 1988-02-21 00:00:00 │ NULL        │ 2008-05-18 00:00:00 │ 2018-05-01 12:05:21 │             7.77 │             2.0 │           7447 │
│ Elysiun        │ 5927342 │             7 │              4 │           0 │            0 │                4 │        2.057638888888889 │ Male    │ Nebraska               │ 1984-11-16 00:00:00 │ NULL        │ 2016-12-25 00:00:00 │ 2017-03-11 21:37:00 │              7.4 │             0.0 │            121 │
│ jimothy000     │   47167 │             6 │              0 │           0 │            0 │                2 │       2.0409722222222224 │ Male    │ England,Manchester     │ 1995-04-25 00:00:00 │ NULL        │ 2008-04-01 00:00:00 │ 2008-04-27 16:00:00 │             9.33 │             5.0 │            126 │
│    ·           │     ·   │             · │              · │           · │            · │                · │                ·         │  ·      │   ·                    │          ·          │  ·          │          ·          │          ·          │               ·  │              ·  │             ·  │
│    ·           │     ·   │             · │              · │           · │            · │                · │                ·         │  ·      │   ·                    │          ·          │  ·          │          ·          │          ·          │               ·  │              ·  │             ·  │
│    ·           │     ·   │             · │              · │           · │            · │                · │                ·         │  ·      │   ·                    │          ·          │  ·          │          ·          │          ·          │               ·  │              ·  │             ·  │
│ miharu_        │  128554 │             2 │             41 │           4 │            5 │              112 │        17.52986111111111 │ Female  │ Seoul                  │ 1993-07-11 00:00:00 │ NULL        │ 2008-12-29 00:00:00 │ 2017-11-13 16:10:00 │             7.57 │             9.0 │           1083 │
│ illusionkiller │ 2845903 │             9 │             19 │           0 │            0 │                7 │        3.520138888888889 │ Female  │ Fort Worth, Texas      │ 1996-04-15 00:00:00 │ NULL        │ 2013-07-09 00:00:00 │ 2013-08-08 12:11:00 │             8.86 │             0.0 │            214 │
│ Asshu          │  396947 │            15 │            610 │          14 │            7 │               25 │       104.04097222222222 │ Male    │ Copenhagen, Denmark    │ 1992-01-23 00:00:00 │ NULL        │ 2010-10-17 00:00:00 │ 2018-05-17 06:34:00 │             7.09 │            86.0 │           7369 │
│ schnider       │   53433 │            14 │            108 │           4 │           29 │                3 │        47.18958333333333 │ Male    │ K.K.                   │ 1987-06-15 00:00:00 │ NULL        │ 2008-04-16 00:00:00 │ 2010-06-07 07:54:00 │             7.67 │             0.0 │           2821 │
│ LittlePingwin  │ 4736157 │             1 │            127 │           2 │           15 │                1 │                  59.4125 │ Female  │ Slough, United Kingdom │ 1998-01-28 00:00:00 │ NULL        │ 2015-07-11 00:00:00 │ 2015-07-13 17:04:00 │             7.55 │             0.0 │           3587 │
│ Ludwig         │   36682 │             8 │             48 │           7 │            2 │               12 │                     12.7 │ Male    │ Brazil                 │ 1990-08-23 00:00:00 │ NULL        │ 2008-02-10 00:00:00 │ 2017-11-19 16:52:00 │             7.71 │            11.0 │            770 │
│ Kekschaos      │ 3701599 │            35 │            495 │           4 │           16 │               46 │       162.54930555555555 │ Male    │ Germany                │ 1995-01-13 00:00:00 │ NULL        │ 2014-04-14 00:00:00 │ 2018-05-15 20:55:00 │             8.46 │             8.0 │           9707 │
│ X-07           │  107249 │             0 │              3 │           0 │            0 │                0 │       1.6319444444444444 │ Male    │ Edinburg, Texas        │ 1989-08-18 00:00:00 │ NULL        │ 2008-10-21 00:00:00 │ 2008-11-12 10:33:00 │              9.0 │             3.0 │            100 │
│ r0h4n          │ 1958392 │             4 │             15 │           0 │            3 │               64 │        8.254166666666666 │ Male    │ Venlo, The Netherlands │ 1997-03-04 00:00:00 │ NULL        │ 2012-12-28 00:00:00 │ 2015-01-05 17:31:00 │             8.29 │             1.0 │            491 │
│ twilightWizz   │   14071 │            22 │            323 │           6 │            0 │                0 │       126.81805555555556 │ Female  │ Singapore              │ 1988-04-13 00:00:00 │ NULL        │ 2007-09-19 00:00:00 │ 2012-03-09 23:10:00 │             6.34 │            42.0 │           7710 │
├────────────────┴─────────┴───────────────┴────────────────┴─────────────┴──────────────┴──────────────────┴──────────────────────────┴─────────┴────────────────────────┴─────────────────────┴─────────────┴─────────────────────┴─────────────────────┴──────────────────┴─────────────────┴────────────────┤
│ ? rows (>9999 rows, 20 shown)                                                                                                                                                                                                                                                                      17 columns │
└───────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────┘

In [4]:
anime_name_list = duckdb.query("""select title_english, score, members from anime_cleaned""").fetchall()
anime_name_list = [(*i, 'anime') for i in anime_name_list if i[0] is not None]
anime_name_set = set(anime_name_list)
# assert len(anime_name_list) == len(anime_name_set) !!!!!!!!!

user_name_list = duckdb.query("""select username from users_cleaned""").fetchall()
user_name_list = [(*i, 1, 1, 1, 'user') for i in user_name_list if i[0] is not None]
user_name_set = set(user_name_list)
assert len(user_name_list) == len(user_name_set)

nodes_set = set(anime_name_set)
nodes_set.update(user_name_set)
# assert len(nodes_set) == len(anime_name_list) + len(user_name_list) !!!!!!!!!

In [5]:
con = duckdb.connect()
con.close()

In [4]:
duckdb.query("""
    select
        anime_id AS id,
        title_english AS name,
        score,
        members
    from anime_cleaned
    where score > 8 and title_english is not NULL 
""").to_csv("anime_nodes.csv", header=False)

In [5]:
duckdb.query("""
    select
        username AS id,
        gender
    FROM users_cleaned
    where user_completed > 500
""").to_csv("user_nodes.csv", header=False)

In [7]:

duckdb.query(f"""CREATE OR REPLACE VIEW anime_nodes AS SELECT * FROM read_csv_auto('anime_nodes.csv')""")
duckdb.query(f"""CREATE OR REPLACE VIEW user_nodes AS SELECT * FROM read_csv_auto('user_nodes.csv')""")
duckdb.query(f"""CREATE OR REPLACE VIEW votes AS SELECT * FROM read_csv_auto('data/anime_azathoth42/animelists_cleaned.csv')""")
duckdb.query(f"""CREATE OR REPLACE VIEW votes_cleaned AS
             SELECT v.*
             FROM votes v
             join user_nodes u
             on v.username = u.username""")

# duckdb.query("""
#     SELECT
#         a1.anime_id AS source,
#         a2.anime_id AS target,
#         COUNT(*) AS weight
#     FROM animelists_random a1
#     JOIN animelists_random a2
#         ON a1.username = a2.username
#        AND a1.anime_id < a2.anime_id
#     GROUP BY source, target
#     HAVING weight > 0
#              """)

BinderException: Binder Error: Values list "u" does not have a column named "username"

LINE 5:              on v.username = u.username
                                     ^